#fixed-social {
    position: fixed;
    top: 80vh;
}

#fixed-social a {
    color: #fff;
    display: block;
    height: 50px;
    position: relative;
    text-align: center;
    line-height: 40px;
    width: 50px;
    margin-bottom: 1px;
    z-index: 2;
}

#fixed-social a:hover>span {
    visibility: visible;
    left: 41px;
    opacity: 1;
}

#fixed-social a span {
    line-height: 50px;
    left: 60px;
    position: absolute;
    text-align: center;
    width: 120px;
    visibility: hidden;
    transition-duration: 0.5s;
    z-index: 1;
    opacity: 0;
}

.fixed-facebook {
    background-color: #00AAE5;
}

.fixed-facebook span {
    background-color: #00AAE5;
}

.fixed-instagrem {
    background-color: #ED2B29;

}

.fixed-instagrem span {
    background-color: #ED2B29;
}

.fixed-whatsapp {
    background-color: #2ded3a;

}

.fixed-whatsapp span {
    background-color: #2ded3a;

}

/*end fixed social*/
.call-buton .cc-calto-action-ripple {
    z-index: 99999;
    position: fixed;
    right: 2rem;
    bottom: 8rem;
    background: #1491cb;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    -webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
    animation: cc-calto-action-ripple 0.6s linear infinite;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

.call-buton .cc-calto-action-ripple i {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 2.2rem;
}

.call-buton .cc-calto-action-ripple:hover i {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

@-webkit-keyframes cc-calto-action-ripple {
    0% {
        -webkit-box-shadow: 0 4px 10px #1491cb, 0 0 0 0 #1491cb44, 0 0 0 5px #1491cb44, 0 0 0 10px #1491cb44;
        box-shadow: 0 4px 10px #1491cb44, 0 0 0 0 #1491cb44, 0 0 0 5px #1491cb44, 0 0 0 10px #1491cb44;
    }

    100% {
        -webkit-box-shadow: 0 4px 10px rgba(31, 27, 22, 0.2), 0 0 0 5px #1491cb44, 0 0 0 10px #1491cb44, 0 0 0 20px #1491cb0a;
        box-shadow: 0 4px 10px #1491cb44, 0 0 0 5px #1491cb44, 0 0 0 10px #1491cb44, 0 0 0 20px #1491cb0a;
    }
}

@keyframes cc-calto-action-ripple {
    0% {
        -webkit-box-shadow: 0 4px 10px #1491cb44, 0 0 0 0 #1491cb44, 0 0 0 5px #1491cb44, 0 0 0 10px #1491cb44;
        box-shadow: 0 4px 10px #1491cb44, 0 0 0 0 #1491cb44, 0 0 0 5px #1491cb44, 0 0 0 10px #1491cb44;
    }

    100% {
        -webkit-box-shadow: 0 4px 10px #1491cb44, 0 0 0 5px #1491cb44, 0 0 0 10px #1491cb44, 0 0 0 20px #1491cb0a;
        box-shadow: 0 4px 10px #1491cb44, 0 0 0 5px #1491cb44, 0 0 0 10px #1491cb44, 0 0 0 20px #1491cb0a;
    }
}